*{
    box-sizing: border-box;
    font-family: playfair;
}
    /* section1 */
    body{
        background-image: url("/asset/images/imagg2.jpg");
        width: 1100px;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .nameTag{
        background-color: pink;
        text-align: center;
        font-size: 80px;
        margin-left: 200px;
        border-radius: 10px;
        box-shadow: 3px 3px 4px brown;
    }
    #txtbox1{
       width: 600px;
        height: 100px;
        margin-left: 400px;
        border-radius: 30px;
        font-size: 40px;
        text-align: center;
    }
    
    #submit{
        font-size: 30px;
        margin-top: 30px;
        background-color: aqua;
        margin-left: 500px;
        width: 350px;
        height: 40px;
        border-radius: 30px;
    }
    /* next1 */
    .container2{
        background-color: aquamarine;
        text-align: center;
        font-size: 40px;
        width: 500px;
        height: 400px;
        margin-left: 400px;
        margin-top: 15%;
    }
    .choice1{
        background-color: red;
        
    }
    .choice2{
        margin-top: 20px;
    }