body{
   background-color: blueviolet;
    width: 1100px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

li{
    font-size: 40px;
    border-bottom: 2px solid gray;
    padding: 30px;
    text-decoration: none;
    color: black;
    text-align: center;
    

}
#hmbtn{
    margin-top: 500px;
    width: 120px;
    height: 30px;
    margin-left: 300px;
    background-color: aquamarine;
    border-radius: 30px;
}
#containersidebar{
    display: flex;
    height: 600px;
    width: 1250px;

}
a{
    text-align: center;
}

