body{
    background-image: url(../images/imagg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}
.login{
    width: 350px;
    padding: 10%;
    margin: auto;
}
.form{
    background-color: rgb(100, 80, 200);
    position: relative;
    z-index: 1;
    max-width: 400px;
    text-align: center;
    margin: 0 auto 100px;
    padding: 50px;
    border-radius: 8px;


}
.form input{
    
    background-color: rgb(3, 3, 3);
    font-size: 20px;
    width: 200px;
    height: 0px;
    margin: 0 0 20px;
    padding: 30px;
    border-radius: 15px;
    outline: 2;
    color: white;



}
.form a{
    
    background-color: black;
    color: #555;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
}
.registration a :hover, active{
    background-color: white;
}