*{
    box-sizing: border-box;
    font-family: playfair;
}
body{
    background-color: blueviolet;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    
}
.result {
    height: 30px;
    width: 30px;
    color: aqua;
}   